<div class="logPosition">
    <div class="login text-center">
      <div>
        <h3>Login</h3>
        <form [formGroup]="credentials" (ngSubmit)="signin()">
          <div class="row my-3">
            <input
              type="email"
              placeholder="email"
              class="form-control"
              formControlName="email"
            />
            <span *ngIf="">email non correct</span>
          </div>
          <div class="row mb-3">
            <input
              type="password"
              placeholder="password"
              class="form-control"
              formControlName="password"
            />
            <span *ngIf="">password non correct</span>
          </div>
          <div>
            <button type="submit" class="btn btn-success" [disabled]="credentials.invalid">Enter</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
